<!-- Cabeçalho e navegação -->
<nav>
  <img src="/images/logo-ifal.png" alt="Logo-IFAL" width="100" style="vertical-align: middle; margin-right: 20px;">
  
  <a href="/">Início</a>
  <a href="/about">Sobre</a>
  <a href="/contato">Contato</a>
  <a href="/cadastro">Cadastro</a>
</nav>