<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <!--Menu de Navegação-->
<nav>
    <a href="/">Início</a>
    <a href="/sobre">Sobre</a>
    <a href="/servicos">Serviços</a>
    <a href="/contato">Contato</a>
</nav>
    
    <!--Conteúdo principal-->
    <h1>Bem-vindo à <%= title %>!</h1>
    <!-- <%= title %> insere o valor enviado do app.js -->
    <p>Esta é uma página principal da aplicação Express com EJS.</p>

    <!--Rodapé-->
    <footer>
        <p>Desenvolvido por Roberto dos Santos Silva Junior - Aluno de S.I no IFAL</p>
    </footer>
</body>
</html>